.App {
  text-align: center;
}

/*Background ------------------------------------------------------------------------------------------------------------------------ */

html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/*NAVBAR ------------------------------------------------------------------------------------------------------------------------ */

/*MODAL PICS ------------------------------------------------------------------------------------------------------------------------ */
.modalpic {
  opacity: 0.85;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 3px 0.25em #999999;
  width: 350px;
  height: 350px;
  display: block;
  margin: auto;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.modalpic:focus {
  transform: scale(1.05);
}

.modalpic:hover {
  transform: scale(1.05);
  opacity: 1;
}

.modalpic:active {
  background-color: #5c6ac4;
  box-shadow: 0 20.125em #666666;
  transform: translateY(0.25em);
}

.moduletitle {
  text-align: center;
  font-size: 150%;
  margin-bottom: 2px;
}

.row {
  margin-top: 20px;
}

/* MODAL TITLE ------------------------------------------------------------------------------------------------------------------------ */

html,
body {
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/* MODAL COL ROW ------------------------------------------------------------------------------------------------------------------------ */

.row2 {
  margin-top: 400px;
}

.parent {
  display: grid;

  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;

  grid-template-rows: 1fr;

  grid-column-gap: 0px;

  grid-row-gap: 0px;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.div5 {
  grid-area: 1 / 5 / 2 / 6;
}

.div6 {
  grid-area: 1 / 1 / 2 / 3;
}

/* TODO LIST ------------------------------------------------------------------------------------------------------------------------ */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.fa-plus {
  float: right;
}

li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

li span {
  background: green;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#container {
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
  color: gray;
  text-decoration: line-through;
}

/* DAILY CHALLENGES ------------------------------------------------------------------------------------------------------------------------ */

.circleOutside {
  align-self: center;
}

.ciclegraph {
  position: relative;
  float: left;
  width: 500px;
  height: 500px;
  margin: calc(100px / 2 + 0px);
}

.ciclegraph:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* border: 10px solid rebeccapurple; */
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  border-radius: 50%;
  border: 5px solid rebeccapurple;
}

.ciclegraph .circle {
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: calc(-150px / 2);
  /* background: teal; */
  border-radius: 50%;
  border: 2px solid teal;
  background-color: white;
  text-align: center;
  line-height: 150px;
  display: inline-block;
  vertical-align: middle;
}
.ciclegraph .circle p {
  /* vertical-align: middle; */
  visibility: hidden;
  /* word-wrap: break-word; */
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.ciclegraph .circle:hover p {
  visibility: visible;
}
/* .ciclegraph .circle:hover {
  vertical-align: middle;
} */

.ciclegraph .circle:nth-child(1) {
  transform: rotate(0deg) translate(250px);
}
.ciclegraph .circle:nth-child(2) {
  transform: rotate(60deg) translate(250px);
}
.ciclegraph .circle:nth-child(2) p {
  transform: rotate(-60deg);
}
.ciclegraph .circle:nth-child(3) {
  transform: rotate(120deg) translate(250px);
}
.ciclegraph .circle:nth-child(3) p {
  transform: rotate(-120deg);
}
.ciclegraph .circle:nth-child(4) {
  transform: rotate(180deg) translate(250px);
}
.ciclegraph .circle:nth-child(4) p {
  transform: rotate(-180deg);
}
.ciclegraph .circle:nth-child(5) {
  transform: rotate(240deg) translate(250px);
}
.ciclegraph .circle:nth-child(5) p {
  transform: rotate(-240deg);
}
.ciclegraph .circle:nth-child(6) {
  transform: rotate(300deg) translate(250px);
}
.ciclegraph .circle:nth-child(6) p {
  transform: rotate(-300deg);
}
